.about {      
    background-color: var(--surface-color); 
    flex-direction: column; 
    gap: 2rem;   
    padding: 2rem;
}
.profile-img {  
    --bg-img: "";
    background: var(--bg-img);
    --bg-img: url(../assets/profile.svg) no-repeat left/7.5rem;
    padding: 3.75rem; 
} 
.wrapper {    
    flex-direction: column;    
    margin-right: auto;    
    gap: 2rem;   
    padding: 2px;
} 
.icons {     
    flex-direction: column;
    gap: 1rem;  
    width: 17.5rem;    
    & div:nth-child(1) {
        background: url(../assets/icons/MapPin.svg) no-repeat;
        padding-left: 2.5rem;   
    }
    & div:nth-child(2) {
        background: url(../assets/icons/AirplaneTilt.svg) no-repeat;
        padding-left: 2.5rem;
    }
    & div:nth-child(3) {
        background: url(../assets/icons/Image.svg) no-repeat;
        padding-left: 2.5rem;
    }
} 
.galleryPhoto{  
    gap: 1rem;   
    padding-inline: var(--px-base); 
    padding-block: var(--py-lg);    
    background-color: var(--skeleton-color); 
    & img {  
        max-width: 100%; 
    }
} 
@media (width >= 80em) {
    & .about { 
        flex-direction: row;
        align-items: center; 
    }  
    & .profile-img {
        --bg-img: url(../assets/profile.svg) no-repeat left/11rem; 
        padding: 5.62rem; 
    }
    & .wrapper {  
        flex-direction: row; 
        max-width: 37rem;
    }  
    & .galleryPhoto{   
        grid-template-columns: repeat(4, 1fr);  
        gap: 1.5rem;    
        & img {  
            max-width: 100%;
        }
    }
} 