.desktop-only {
    display: none;
}  
.flex {
    display: flex;
} 
.grid {
    display: grid; 
}  
.item-center {
    align-items: center;
}  
.margin-left {
    margin-left: auto;
}
.gap-1 {
    gap: 1rem;
}    
@media (width >= 80em) {
    & .desktop-only {
        display: initial;
    }  
}